html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

#main > .container {
  min-height: 100%;
  min-width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: rgb(101, 164, 101);
}


.home-wrapper{

height: 100%;

display: flex;
flex-direction: column;
align-items: center;

gap: 30px;

}

button{
  height: 50px;
  width: 200px;
}


